<template>
    <div class="content">
        <div class="nav-bar slds-border_right">
            <nav class="slds-nav-vertical">
                <div class="slds-nav-vertical__section">
                    <ul aria-describedby="entity-header">
                        <template for:each={testData} for:item="item" for:index="index">
                            <li class="slds-nav-vertical__item nav-bar__item" key={item.id} onclick={handleItemSelection} data-name={item.identifier}>
                                <a class="slds-nav-vertical__action">
                                    <lightning-icon icon-name={item.icon} size="x-small">
                                    </lightning-icon>
                                    <span class="slds-m-left_medium item-title">{item.name}</span>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</template>