template {
    height: 100%;
}

.nav-bar {
    height: 100%;
    height: calc(100vh - 3rem); 
    overflow: auto;
    width: auto;
    box-shadow: 4px 1px rgb(251, 250, 245);
    /* background-color: rgb(0, 57, 107) !important; */
    background-color: #00446b !important;
}

.nav-bar__item {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    text-decoration: none !important;
    background-color: #00446b
}

.nav-bar__item :hover {
    color: white !important;
    background-color: rgb(22, 50, 92);
}

.nav-bar__item :visited {
    color: white !important;
    background-color: rgb(22, 50, 92);
}

.nav-bar__item a {
    color: rgba(255, 255, 255, .6);
}

.content {
    margin-top: 0px !important;
    background-color: rgb(0, 57, 107) !important;
}
.slds-nav-vertical{
    height: 100%;
}
.toggle-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.toggle-bottom>a{
    padding-bottom: 10%;
}
.active {
    color: white !important;
    background-color: rgb(22, 50, 92);
}
.active > a {
    color: white !important;
}
.item-title {
    line-height: 1.5rem;
}
svg {
    fill: rgba(255, 255, 255, .6);
}